.result-container {
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: crimson;
    margin-top: 20%;
    font-size: 1.4rem;
    border: 0.2rem solid crimson;
    border-radius: 1rem;
    padding: 1rem;
}