a {
    text-decoration: none;
}

.random-button {
    color:aqua;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.random-button:hover {
    transform: scale(1.1);
}